* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    scroll-snap-align: start;
}
.container {
    background-image:url(background2.jpeg) ;
    scroll-snap-type: y mandatory;
    overflow-y: scroll ;
    height: 100vh;
}
.one {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(purposestyle.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}
.one .row {
    display: flex;
    align-items: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 30px;
    position: bottom;
}
.one a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: 1s linear infinite;
    animation-delay: .75s;
}
.one a span {
    position: absolute;
    display: block;
}
@keyframes a {
    0% {bottom: -100%;}
    50%,100% {bottom: 100%;}
}
.one a:hover { /*neon light*/
    background: #03e9f4; color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #0313f4,
     0 0 50px #03e9f4,
      0 0 100px #0703f4;
}